.shortcut {
  display: flex;
  gap: 5px;
  width: max-content;
  justify-content: center;
  align-items: center;
}

.key {
  width: max-content;
  border-radius: 5px;
  padding: 3px 8px;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.iconButton {
  max-width: 90%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  font-weight: bold;
  user-select: none;
}

.iconButton:active {
  background-color: #2d3250 !important;
}

.iconButton:hover {
  filter: brightness(1.2);
  transition: all 0.3s;
}

/* .iconButton p {
  width: 60%;
  text-align: center;
} */
