:root {
  --color-bg: #2d3250;
  --color-bg-darker: #1f2338;
  --color-bg-darkest: #161827;
  --color-primary: #424769;
  --color-secondary: #6a7097;
  --color-tertiary: #7077a1;
  --color-highlight: #2e3249;
  --color-light: #eee;
  --color-lighter: #ccc;
  --color-lightest: #acb1d1;
  --color-text: white;
  --size-header-height: 60px;
  --size-input-height: 40px;
  --size-dropdown-height: 44px;
  --size-dropdown-width: 9rem;
  --size-border-radius: 10px;
  --size-border-radius-small: 5px;
  --size-transition: 0.2s;
  --size-input-font-size: 18px;
  --size-index-width: 15%;
}

.home {
  width: 100vw;
  height: 200vh;
  background-color: var(--color-bg);
  overflow-y: hidden;
}

/* Header Components */
.header {
  width: 100vw;
  height: var(--size-header-height);
  background-color: var(--color-primary);
  position: fixed;
  display: grid;
  grid-template-columns: 10% 40% 30% 20%;
  align-content: center;
  z-index: 2000;
}

.logo {
  grid-column: 1;
  color: var(--color-tertiary);
  user-select: none;
}

.searchBar {
  grid-column: 3;
  display: grid;
  height: var(--size-input-height);
  align-self: center;
  border-radius: var(--size-border-radius);
  background-color: var(--color-secondary);
  align-items: center;
  padding: 0 10px;
  grid-template-columns: 3% auto 15%;
  transition: var(--size-transition);
}

.searchBar input {
  background-color: transparent;
  color: var(--color-light);
  letter-spacing: 1px;
  border: none;
  width: 95%;
  font-size: var(--size-input-font-size);
}

.searchBar input::placeholder {
  color: var(--color-lighter);
  user-select: none;
}

.searchBar input:focus {
  outline: none;
}

.preferences {
  display: grid;
  width: 100%;
  height: var(--size-header-height);
  align-self: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(2, 50%);
}

.preferences > div:first-child {
  display: flex;
  gap: 10px;
  align-items: center;
}

.headerButton {
  transition: var(--size-transition);
}

.headerButton:hover {
  color: var(--color-secondary) !important;
}

.headerButton:active {
  color: var(--color-highlight) !important;
}

.userDropdown {
  display: flex;
  width: var(--size-dropdown-width);
  height: var(--size-dropdown-height);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text);
  font-weight: bold;
  padding: 0 5px 0 15px;
  cursor: pointer;
  user-select: none;
  transition: var(--size-transition);
}

.userDropdown:hover {
  filter: brightness(0.7);
}

.userDropdown:active {
  filter: brightness(0.5);
}

.dropdownPanel {
  position: absolute;
  right: 0;
  top: var(--size-header-height);
  background-color: var(--color-primary);
  width: 12%;
  height: min-content;
  z-index: 1000;
  border-bottom-left-radius: var(--size-border-radius);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--color-bg);
  border-top: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0;
  gap: 5px;
  transition: var(--size-transition);
  overflow: hidden;
}

.userInfo {
  height: 30px;
  width: 100%;
  padding-left: 2rem;
  display: flex;
  text-align: start;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-text);
  padding-bottom: 5px;
  border-bottom: 1px solid var(--color-tertiary);
  margin-bottom: 5px;
}

.dropdownPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  user-select: none;
}

.dropdownSection,
.dropdownSectionVertical {
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 10px 0;
  border-bottom: 1px solid var(--color-tertiary);
}

.dropdownSection {
  margin: 10px 0;
}

.dropdownSectionVertical {
  flex-direction: column;
  align-items: center;
  margin: 5px 0;
}

.dropdownSection span,
.dropdownSectionVertical span {
  color: var(--color-text);
  font-weight: bold;
}

.dottedRangeInput {
  display: flex;
  gap: 10px;
  align-items: center;
}

.counterButton,
.dotButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

.dotButton {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: var(--color-tertiary);
  color: var(--color-text);
  font-weight: bold;
  cursor: pointer;
}

/* Content Area - Includes Sidebars */
.contentContainer {
  height: 100%;
  width: 100%;
  display: flex;
  padding-top: var(--size-header-height);
  overflow: hidden;
}

.contentArea {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
}

.contentHeading {
  color: var(--color-tertiary);
  font-weight: bold;
  font-size: 24px;
  text-align: start;
  margin: 0 1.5rem;
}

.contentGrid {
  position: relative;
  margin: 1.5rem;
  margin-bottom: 110vh;
  display: grid;
  row-gap: 2rem;
  column-gap: 1rem;
  align-content: start;
  justify-items: center;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.onThisPageSection,
.sidebarSection {
  width: var(--size-index-width);
  height: 100%;
  background-color: var(--color-bg);
  border: 1px solid var(--color-primary);
}

.onThisPageSection {
  border-right-width: 1px;
}

.sidebarSection {
  border-left-width: 1px;
}

.indexItemGroupInput,
.listItemInput {
  display: flex;
  color: var(--color-tertiary);
  background-color: transparent;
  border: none;
  flex-direction: column;
  gap: 10px;
  font-weight: 600;
  font-size: 16px;
  padding-right: 10px;
  outline: none;
  border-bottom: 2px solid var(--color-primary);
  text-align: center;
  margin: 0 10px 10px -1.5rem;
}

.listItemInput {
  font-size: 14px;
  margin-bottom: 10px;
}

.sidebarEditButton {
  background-color: var(--color-primary);
  border-radius: var(--size-border-radius-small);
  border: none;
  color: var(--color-lightest);
  margin: 0 1rem;
  padding: 0.3rem 0.5rem;
  align-self: flex-end;
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 5px;
}

.sidebarEditButton:hover {
  color: var(--color-lighter);
  cursor: pointer;
}

.sidebarEditButton:active {
  color: var(--color-text);
  background-color: var(--color-highlight);
}

.onThisPage,
.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: var(--size-index-width);
}

.sidebar {
  margin-top: 2.5rem;
  justify-content: center;
  align-items: center;
}

.onThisPage {
  text-align: start;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.indexItemsGroup {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-left: 1px solid var(--color-primary);
  margin-left: -1rem;
  gap: 10px;
}

.indexHeading {
  position: sticky;
  padding-top: 20px;
  width: 18rem;
  transform: translate(-16 5%, -30%);
  top: 0;
  left: 0;
  background-color: rgba(45, 50, 80, 0.418);
  backdrop-filter: blur(4px);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 2rem 1rem 0.5rem;
  color: var(--color-lightest);
}

.indexItemGroup {
  margin-left: -0.5rem;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.listItem {
  color: #8990b4;
  font-weight: bold;
  border: 1px solid transparent;
  border-left: 1px solid var(--color-primary);
  text-align: start;
  padding-right: 10px;
  transition: var(--size-transition);
  cursor: pointer;
  user-select: text;
  display: flex;
  justify-content: space-between;
}

.listItem:hover {
  color: var(--color-lighter);
  border: 1px solid var(--color-primary);
  border-top-right-radius: var(--size-border-radius-small);
  border-bottom-right-radius: var(--size-border-radius-small);
}

.listItem:active {
  color: var(--color-text);
  background-color: var(--color-highlight);
}

/* Containers */

.containerCard {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: var(--size-border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.componentContainer {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  border-radius: var(--size-border-radius-small);
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: var(--size-transition);
}

.componentTitle {
  display: flex;
  width: 92%;
  height: 24px;
  padding: 10px 0;
  align-items: center;
  text-align: start;
  justify-content: space-between;
  color: var(--color-secondary);
}

.componentTitleInput {
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
}

.componentOptions,
.componentButton,
.componentButtonContainer {
  background-color: var(--color-primary);
  padding: 3px 6px;
  border: none;
  border-radius: var(--size-border-radius-small);
  color: var(--color-light);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--size-transition);
}

.componentOptions {
  display: flex;
  width: 90%;
  gap: 10px;
}

.componentButton {
  width: 100%;
}

.componentButtonContainer {
  position: absolute;
  background-color: var(--color-bg-darker);
  bottom: 0;
  right: 0;
  margin: 10px;
}

.componentButtonContainer .componentButton {
  background-color: var(--color-bg-darker);
}

.componentButtonContainer button:hover {
  background-color: var(--color-highlight);
}

.componentButtonContainer button:active {
  background-color: var(--color-secondary);
}

.componentOptions .componentButton:hover {
  background-color: var(--color-highlight);
}

.componentOptions .componentButton:active {
  background-color: var(--color-secondary);
}

.componentZoomInput {
  display: flex;
  width: 20px;
  align-items: center;
  text-align: center;
  background-color: var(--color-bg-darker);
  color: var(--color-lightest);
  font-weight: bold;
  font-size: 14px;
  border: none;
}

.componentCodeContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg-darkest);
  position: absolute;
  bottom: -100%;
  transition: all 0.4s;
}

.componentCodeContainer.activeCodeContainer {
  transform: translateY(-100%);
}

.codeEditorAbsoluteButton {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: transparent;
  color: var(--color-tertiary);
  border: none;
  border-radius: var(--size-border-radius-small);
  padding: 3px 6px;
  margin: 10px;
  cursor: pointer;
}

.componentCodeEditor {
  display: flex;
  width: 100%;
  height: 100%;
}

.componentCodeEditorContent {
  background-color: var(--color-bg-darkest);
  width: 100%;
  height: 100%;
}

.codeEditorLangSelection {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.codeEditorLangSelection button {
  background-color: transparent;
  color: var(--color-tertiary);
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.reactContainer {
  width: 100%;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: var(--size-border-radius);
  display: flex;
  justify-content: center;
}

/* CODE EDITOR */

.codeEditor {
  width: 100%;
  text-align: start;
  border: none;
  outline: none;
  padding: 0;
  font-family: "Fira Code", monospace;
  font-size: 11px;
  position: relative;
}

.codeEditor .componentTitle {
  position: absolute;
  bottom: -5px;
  right: -85%;
}

.codeEditor > div > div {
  height: 365px !important;
}

.codeEditor ::-webkit-scrollbar {
  background-color: var(--color-bg-darkest);
}

.codeEditor ::-webkit-scrollbar-thumb {
  background-color: #282a36;
}

.react-codemirror2 {
  width: 100%;
  height: 100%;
}

.react-codemirror2 > .CodeMirror {
  height: 400px !important;
}

.componentStateEditor {
  border-radius: var(--size-border-radius);
  color: var(--color-lightest);
  display: grid;
  height: 100px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 9fr;
}

.componentStateEditor h3 {
  color: var(--color-tertiary);
  font-weight: bold;
  font-size: 16px;
  margin: 10px;
}

/* Responsive Design */

/* @media (max-width: 1024px) {
  .header {
    grid-template-columns: 15% 45% 25% 15%;
  }

  .contentContainer {
    flex-direction: column;
  }

  .contentArea {
    width: 100%;
  }

  .onThisPage,
  .sidebarSection {
    width: 100%;
    height: auto;
  }
} */

/* @media (max-width: 768px) {
  .header {
    grid-template-columns: 20% 40% 20% 20%;
  }

  .contentGrid {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }

  .onThisPage,
  .sidebarSection {
    display: none;
  }

  .contentHeading {
    font-size: 20px;
  }

  .componentContainer,
  .containerCard {
    height: auto;
  }
} */

/* @media (max-width: 480px) {
  .header {
    grid-template-columns: 1fr;
    height: auto;
  }

  .logo {
    text-align: center;
    margin: 10px 0;
  }

  .searchBar {
    grid-column: 1 / -1;
    margin: 10px 0;
  }

  .userDropdown {
    width: 100%;
  }

  .contentHeading {
    font-size: 18px;
    margin: 0 1rem;
  }

  .contentGrid {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    margin: 1rem;
  }
} */
